<form class="container-fluid item-container new-page" #authForm="ngForm" (ngSubmit)="onSubmit()">
  <h1>Информация о респонденте</h1>

  <div class="form-group">
    <label for="dob">Год рождения <b>*</b></label>
    <input
      class="form-control"
      id="dob"
      name="dob"
      type="date"
      required
      [(ngModel)]="dob"
    >
    <div class="input-glass"></div>
  </div>

  <div class="form-group">
    <label for="gender">Пол  <b>*</b></label>
    <select class="form-control" name="gender" id="gender" required [(ngModel)]="gender">
      <option value="male">Мужчина</option>
      <option value="female">Женщина</option>
      <option value="no-answer">Предпочту не отвечать</option>
    </select>
  </div>

  <div class="form-group">
    <label for="country">Гражданство <b>*</b></label>
    <input class="form-control" id="country" name="country" type="text" required [(ngModel)]="country">
  </div>

  <div class="form-group">
    <label for="nationality">Национальность</label>
    <select class="form-control" name="nationality" id="nationality" [(ngModel)]="nationality">
      <option value="kg">Кыргыз(-ка)</option>
      <option value="ru">Русский(-ая)</option>
      <option value="uz">Узбек(-чка)</option>
      <option value="another">Другое</option>
      <option value="no-answer">Предпочту не отвечать</option>
    </select>
  </div>

  <div class="form-group">
    <label for="education">Образование <b>*</b></label>
    <select class="form-control" name="education" id="education" required [(ngModel)]="education">
      <option value="no">Нет формального образования</option>
      <option value="initial">Начальное</option>
      <option value="average">Среднее</option>
      <option value="technical">Техническое</option>
      <option value="baccalaureate">Бакалавриат</option>
      <option value="master">Магистр</option>
      <option value="doctoral">Докторское и выше</option>
      <option value="another">Другое</option>
    </select>
  </div>

  <div class="form-group">
    <label for="family">Семейный статус</label>
    <select class="form-control" name="family" id="family" [(ngModel)]="family">
      <option value="have">Женат/Замужем</option>
      <option value="no">Холост/ Не замужем</option>
      <option value="another">Другое</option>
    </select>
  </div>

  <div class="form-group">
    <label for="work">Занятость</label>
    <select class="form-control" name="work" id="work" [(ngModel)]="work">
      <option value="have">Трудоустроен</option>
      <option value="business">Частный предприниматель</option>
      <option value="no">Не работаю</option>
      <option value="student">Студент</option>
      <option value="old">Пенсионер</option>
      <option value="another">Другое</option>
    </select>
  </div>

  <div class="form-group">
    <label for="city">Область/город проживания <b>*</b></label>
    <select class="form-control" name="city" id="city" required [(ngModel)]="city">
      <option value="bishkek">г. Бишкек</option>
      <option value="batken">Баткен</option>
      <option value="djalal-abad">Джалал-Абад</option>
      <option value="issik-kul">Иссык-Куль</option>
      <option value="naryn">Нарын</option>
      <option value="osh">Ош</option>
      <option value="talas">Талас</option>
      <option value="chui">Чуй</option>
    </select>
  </div>

  <div class="form-group">
    <label for="email">Ваш email (Результаты опросника будут отправлены в том числе на вашу почту)*</label>
    <input class="form-control" id="email" name="email" type="email" required [(ngModel)]="email">
  </div>

  <div class="form-group checkbox">
    <label for="sendEmail">Отправить результаты исследования по почте</label>
    <input class="form-control" id="sendEmail" name="sendEmail" type="checkbox" [(ngModel)]="sendEmail">
  </div>

  <p>*Обязательные поля </p>

  <div class="form-group row justify-content-end">
    <button
      class="form-button form-button--submit"
      type="submit"
      [disabled]="authForm.invalid"
    >
      Отправить
    </button>
  </div>
</form>
