<footer>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 border-dot">
        <a routerLink="/">
          <img class="logo" src="{{imagePath}}" alt="Logo">
        </a>
        <br><br>
        <p>Американский Университет в Центральной Азии</p>
        <p>Улица Аалы Токомбаева 7/6 </p>
        <p>Бишкек 720060</p>
        <p>Кыргызстан</p>
      </div>

      <div class="hidden-xs col-xs-12 col-sm-12 col-md-4 border-dot">
        <p>Данное исследование стало возможным благодаря помощи американского народа, оказанной через Агентство США по международному развитию (USAID). АУЦА несет ответственность за содержание данного исследования, которое не обязательно отражает позицию USAID или Правительства США.</p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 border-dot">
        <p>*Интерпретация и презентация результатов и общий дизайн сайта заимствована у Университета Кембриджа - Центра Психометрики.
          <a href="www.discovermyprofile.com">www.discovermyprofile.com</a></p>
        <a routerLink="/privacy">Правила и Условия</a>
      </div>
    </div>
  </div>
</footer>
