<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 border-dot">
        <a routerLink="/">
          <img class="logo" src="https://discovermyprofile.com/public/images/branding/psychometrics.svg" alt="Logo">
        </a>
        <br><br>
        <p>Cambridge Judge Business School</p>
        <p>Trumpington Street</p>
        <p>Cambridge CB2 1AG</p>
        <p>United Kingdom</p>
      </div>

      <div class="hidden-xs col-xs-12 col-sm-12 col-md-4 border-dot">
        <h3>The Psychometrics Centre</h3>
        <p>The Psychometrics Centre is a Strategic Research Network of the University of Cambridge and an international centre of excellence in psychological, occupational, clinical and educational assessment.</p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 border-dot">
        <h3>Contact us</h3>
        <a routerLink="/terms">Terms and Conditions</a>
        <br>
        <a routerLink="/privacy">Site Privacy & Cookie Policies</a>
      </div>
    </div>
  </div>
</footer>
