@import "~bootstrap/dist/css/bootstrap.css";

.container-fluid {
  margin: 0 auto;
  max-width: 1000px;
}

.logo {
  height: 100px;
}

body {
  background-color: #35435D;
  height: 100%;
}

.new-page {
  color: white;
  min-height: 380px;
}

.item-container {
  padding: 60px 0;
  position: relative;
}

.default-button {
  display: block;
  color: #181a27 !important;
  background-color: #ffb81c;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.35);
  border-radius: 0;
  font-weight: 300;
  padding: .3em 1em;
  border: 3px solid #ffb81c;
  transition: all .3s;
  margin: 20px auto;
  cursor: pointer;
  text-decoration: none;
}

.default-button:disabled {
  opacity: .7;
  cursor: default;
}
