<div class="container-fluid item-container new-page">
  <h2>Информационный листок участника исследования</h2>
  <p>Приглашаем Вас принять участие в исследовании, посвященном изучению связи личностных качеств и поведения людей на выборах в Кыргызстане. Это исследование необходимо, чтобы лучше понять психологический портрет избирателя в нашей стране. Мы просим Вас внимательно прочитать этот листок, прежде чем согласиться на участие в этом исследовании. Исследование проводится ассоциированным профессором кафедры «Психологии» АУЦА, канд.психол.наук Маматовой М.А., преподавателем кафедры «Экономики» АУЦА Исмаиловым А., и студенткой выпускного курса кафедры «Экономики» АУЦА Айдарбековой Айганыш. </p>
  <br />

  <p>
    <b>Цель исследования:</b> Целью данного исследования является изучение факторов личности и готовности принимать участие в голосовании на выборах.
  </p>

  <p>Если Вы согласны принять участие в исследовании, Вам предстоит заполнить опросник личности «Большая пятерка личностных качеств» А. Грецова, состоящий из 40 утверждений. Результаты теста покажут разнообразие черт Вашей личности и выявят Ваш личностный профиль. Вы также получите полезные психологические рекомендации. </p>

  <p><b>Риски участия в исследовании:</b> Психологические и социальные риски участия в данном исследовании маловероятны и незначительны. Вы можете выйти из исследования в любое время, если почувствуете в этом необходимость. Мы не можем гарантировать Вам анонимность участия, но социальные риски будут сведены к минимуму посредством цифровой кодировки Ваших персональных данных. Мы сделаем все, чтобы сохранить Вашу личную информацию в тайне. Ваши личные данные не попадут ни в какие публикации или доклады. Только исследователи будут иметь доступ к Вашим данным, которые будут занесены на безопасные цифровые носители. </p>

  <p>Участие в этом исследования является добровольным. </p>

  <p>По всем вопросам, просьба обращаться к Исмаилову Алтынбеку <a href="mailto:ismailov_alt@auca.kg">ismailov_alt@auca.kg</a></p>

  <h3><b>Согласие участника:</b></h3>

  <br />

    <div class="form-group" >
      <input id="first" type="checkbox" [(ngModel)]="first" [ngModelOptions]="{standalone: true}">
      <label for="first">Я старше 18</label>
    </div>

    <div class="form-group">
      <input id="second" type="checkbox" [(ngModel)]="second" [ngModelOptions]="{standalone: true}">
      <label for="second">Я даю свое согласие на участие в данном исследовании путем участия в нем.</label>
    </div>

    <button class="default-button" [disabled]="!first || !second" routerLink="/tests/1">
      Далее
    </button>
</div>
