<form class="container-fluid item-container new-page">
  <h1>Найдите себя в списке проголосовавших</h1>

  <div class="form-group">
    <label for="firstname">Фамилия</label>
    <input class="form-control" id="firstname" name="firstname" type="text">
  </div>

  <div class="form-group">
    <label for="secondname">Имя</label>
    <input class="form-control" id="secondname" name="secondname" type="text">
  </div>

  <div class="form-group">
    <label for="thirdname">Отчество</label>
    <input class="form-control" id="thirdname" name="thirdname" type="text">
  </div>

  <div class="form-group row justify-content-end">
    <button routerLink="/feedback" class="form-button form-button--submit default-button" type="submit">Найти</button>
    <button routerLink="/feedback" class="form-button form-button--submit default-button" type="submit">Я не голосовал</button>
  </div>
</form>
