.form-group {
  position: relative;
}

.item-container {
  &:first-child {
    padding-bottom: 0;
  }

  &:nth-child(2n) {
    padding-top: 0;
  }
}

.input-glass {
  position: absolute;
  width: calc(100% - 45px);
  height: calc(100% - 32px);
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
}
