<form class="container-fluid item-container new-page" #votedForm="ngForm" (ngSubmit)="findVoted(firstName, secondName)">
  <h1>Найдите себя в списке проголосовавших</h1>

  <div class="form-group">
    <label for="firstname">Фамилия</label>
    <input class="form-control" id="firstname" minlength="3" name="firstname" type="text" [(ngModel)]="firstName">
  </div>

  <div class="form-group">
    <label for="secondname">Имя</label>
    <input class="form-control" id="secondname" minlength="3" name="secondname" type="text" [(ngModel)]="secondName">
  </div>

  <div class="form-group row justify-content-end">
    <button
      class="form-button form-button--submit default-button"
      [disabled]="votedForm.invalid"
      type="submit"
    >
      Найти
    </button>
  </div>
</form>
