.form-group {
  position: relative;
}

.item-container {
  &:first-child {
    padding-bottom: 0;
  }

  &:nth-child(2n) {
    padding-top: 0;
  }
}

.input-glass {
  position: absolute;
  width: calc(100% - 45px);
  height: 100%;
  top: 0;
  left: 0;
}
