header {
  background-color: #181a27;
  height: 66px;
  position: relative;
}

.container-fluid {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.lang-change  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 50px;
  color: white;
  font-size: 14px;
  top: 0;
  right: 100px;

  span:hover {
    cursor: pointer;
  }
}

img:hover {
  cursor: pointer;
}
